{% for feature in site.data.features %}

{% if feature.show == true -%}

<div class="container">
  <div class="row justify-content-center">
    <div class="card card-feature text-center mt-4">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold"> {{feature.title}} </h5>
        <p class="card-text text-justify mt-4 mb-4" style="font-size: 1.2rem;"> {{feature.description}} </p>
        <a href="{{feature.button-url}}" class="btn btn-outline-info"> {{feature.button-text}} </a>
      </div>
    </div>
    </div>
    </div>

{%- endif %}
  
  {% endfor %}
