{% for feature in site.data.features %}

{% if feature.show == true -%}

<div class="container">
  <div class="row justify-content-center">

      <div class="card card-feature text-center mt-4 text-dark" style="background-image:url('{{feature.image}}'); background-size: 100% 100%;">
        <div class="card-header">
          <h4 class="card-title font-weight-bold"> {{feature.title}} </h4>
        </div>
        <div class="card-body">
          <p class="card-text text-justify text-dark mt-4 mb-4" style="font-size: 1.2rem; color: black;">{{feature.description}}</p>
          <a href="{{feature.button-url}}" class="btn btn-info">{{feature.button-text}}</a>
        </div>
      </div>

  </div>
</div>

{%- endif %}
  
  {% endfor %}
