<div class="col-sm-6">
    <div class="card card-feature text-center mt-4">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Mammographic Screening In Brazil</h5>
        <p class="card-text text-justify mt-4 mb-4" style="font-size: 1.2rem;">Data and interactive graphs on mammographic screening in the national territory referring to the 
          study <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9564571/#:~:text=The%2010%2Dyear%20mammogram%20coverage,those%20aged%2040%2D50%20years.">"10-year opportunistic mammographic screening scenario in Brazil and its impact on breast cancer early detection: 
          a nationwide population-based study"</a></p>
        <a href="https://breastscreening.com.br/" class="btn btn-outline-info">View data</a>
      </div>
    </div>
    </div>

    <div class="col-sm-6">
    <div class="card card-feature text-center mt-4">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">National Breast Cancer Survey</h4>
        <p class="card-text text-justify" style="font-size: 1.0rem;">The Center for Advanced Research in Medicine (CEPAM) - UNILAGO, in conjunction with the Ribeirão Preto 
          Medical School - USP and the Faculty of Pharmaceutical Sciences - UNESP, is developing a national survey to collect data from women at 
          least 18 years old in order to understand how is the distribution of breast cancer cases in the Brazilian population. Supported by the 
          São Paulo Regional Office of the Brazilian Society of Mastology</p>
        <a href="http://200.144.244.198:6789/" class="btn btn-outline-info">I would like to participate</a>
      </div>
    </div>
    </div>