<hr>
<div class="row mt-4 text-center">
  <div class="col justify-content-center">
    <a href="https://www5.usp.br/"> <img src="{{ site.url }}/assets/img/logopic/logo_usp.jpg" style="width: 120px; margin: 5px;"> </a>
    <a href="https://www.fmrp.usp.br/en/"> <img src="{{ site.url }}/assets/img/logopic/logoFmrp.png" style="width: 80px; margin: 5px;"> </a>
    <a href="https://biobanco.fmrp.usp.br/"> <img src="{{ site.url }}/assets/img/logopic/logoBiobanco.png" style="width: 70px; margin: 5px;"></a>
    <a href="https://site.hcrp.usp.br/"> <img src="{{ site.url }}/assets/img/logopic/logoHc.png" style="width: 90px; margin: 5px;"></a>
    <a href="https://www.gov.br/capes/pt-br"> <img src="{{ site.url }}/assets/img/logopic/logoCapes.png" style="width: 70px; margin: 5px;"> </a>
    <a href="https://posgo.fmrp.usp.br/en/"> <img src="{{ site.url }}/assets/img/logopic/logoPpgo.png" style="width: 120px; margin: 5px;"> </a>
  </div>
</div>

<div class="row mt-4 text-center">
  <div class="col justify-content-center">
    <a href="https://rgo.fmrp.usp.br/pb/"> <img src="{{ site.url }}/assets/img/logopic/logoGO.png" style="width: 150px; margin: 5px;"> </a>
    <a href="https://www.gov.br/cnpq/pt-br"> <img src="{{ site.url }}/assets/img/logopic/logoCnpq.png" style="width: 120px; margin: 5px;"> </a> 
    <a href="https://fapesp.br/"><img src="{{ site.url }}/assets/img/logopic/logoFapesp.png" style="width: 150px; margin: 5px;"> </a>
    <a href="https://faepa.br/"><img src="{{ site.url }}/assets/img/logopic/logoFaepa.png" style="width: 150px; margin: 5px;"> </a> 
  </div>
</div>
  <hr>