          <!-- <div class="news">
            {% if site.news != blank -%}
            {%- assign news_size = site.news | size -%}
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%}
              {% if include.limit and site.announcements.limit %}
              {% assign news_limit = site.announcements.limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% for item in news limit: news_limit %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div> -->


          <div class="news">
            
            {% if site.data.news != blank -%}
            
            {% for new in site.data.news limit:9 %}
            <p>{{ new.date }}<br>{{ new.headline | markdownify}}</p>

            {% if new.number >= 8 -%}
            <h4><a href="{{ site.url }}{{ site.baseurl }}/list-news.html">... see all News</a></h4>
            {%- endif %}

            {% endfor %}
            {%- else -%}

            <p>No news so far...</p>
            
            {%- endif %}
            
            </div>