---
layout: default
---


<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
        {{ site.first_name }} <span class="font-weight-bold">{{ site.middle_name }} {{ site.last_name }}
          <img src="assets/img/logo_lab.png" style="width: 10%;"> 
          </h1>
          <a href="https://site.hcrp.usp.br/" class="desc">{{ page.subtitle }}</a>
        </header>

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}


          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2 style="margin-top: 2%;"><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}

</div>
